.List {
  display: flex;
  list-style: none;
  margin-right: 12px;
  /* height: 90%; */
  box-sizing: border-box;
  width: auto;
  align-items: center;
  font-weight: bold;
}

.List a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

/* .List :hover{
  background-color: #80bfff;
} */

.List a:hover,
.List a:active,
.List a.active {
  /* color: #80bfff; */
  color: #0a8185;
  font-weight: 600;
  font-size: 1.1rem;
  /* border-bottom: 4px solid #40A4C8; */
  height: 100%;
  /* color: #fff; */
}

@media (max-width: 500px) {
  .List {
    margin: 0;
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .List a {
    color: #99cccc;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .List a:hover,
  .List a:active,
  .List a.active {
    background-color: #80bfff;
    border-bottom: 4px solid #40a4c8;
    color: #fff;
  }
}
