.Wrapper {
  width: 400px;
  margin: 0 auto;
  /* padding-top: 30px; */
  text-align: center;
  display: flex;
  height: 600px;
  background-color: #cae8eb;
}

.Contain {
  background-color: #cae8eb;
  height: 650px;
  margin: 0 auto;
}

.FullSundae {
  height: 650px;
  position: static;
  width: 640px;
  margin: auto;
  margin-top: 10px;
  overflow: scroll;
  /* background-color: #F0FFF0; */
}

@media (min-width: 1000px) {
  .Contain {
    height: 650px;
    margin: 0 auto;
  }
  .FullSundae {
    height: 550px;
    margin-top: 45px;
    width: 640px;
  }
}

@media (max-width: 500px) {
  .FullSundae {
    padding-top: 20px;
    width: 88%;
    height: 540px;
    margin: 0 auto;
  }
  .Wrapper {
    width: 100%;
  }
  .Contain {
    width: 100%;
    padding-bottom: 10px;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  .FullSundae {
    padding-top: 20px;
    width: 88%;
    height: 550px;
    margin: 0 auto;
  }
  .Wrapper {
    width: 100%;
  }
  .Contain {
    margin-top: 56px;
    width: 100%;
    height: 700px;
  }
}

@media (min-width: 771px) and (max-width: 1025px) {
  .FullSundae {
    width: 88%;
    height: 530px;
    margin: 0 auto;
  }

  .Contain {
    padding-top: 70px;
    width: 100%;
    height: 700px;
  }
}

@media (min-width: 1026px) and (max-width: 1450px) {
  .FullSundae {
    width: 88%;
    height: 630px;
    margin: 0 auto;
  }
  .Contain {
    margin-top: 56px;
    width: 100%;
    height: 700px;
  }
}
